<template name="currentuser">
    <div style="display:inline;">
        {{#if notLoged true}}
		    <button href="#" id="login" class="invert-button xm" ><b>Log in</b></button>
			<button href="#" id="singup" class="button xm"><b>Sign up</b></button>
        {{else}}
		    <div class="margin-right" style="color:#ffffff;">Welcome {{user}} <button class="button xm post"><b>Post</b></button> <button class="button xm logOut"><b>Log out</b></button></div>
        {{/if}} 
    </div>	
     {{>loginForm}}
	 {{>signUpForm}}
</template>