<template name="loginForm">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content normal-modal">
                <div class="modal-header">
                    <h4 class="modal-title center-block">Log in</h4>
                </div>
                <div class="modal-body">
				    <form>
				        <div class="form-group">
                            <label for="ejemplo_email_1">Email</label>
							<input type="email" class="form-control center-block" id="email"
                                placeholder="email">
                        </div>
                        <div class="form-group">
                            <label for="ejemplo_password_1">Password</label>
                            <input type="password" class="form-control" id="email" 
                                placeholder="password">
                        </div>
                        <div>
					        <button class="button xl center-block" href="#modal1"><b>Log in</b></button>
					    </div>
						<div>
						    <h5 class="xl center-block">If you don't have an account&nbsp;&nbsp;<a>Sign up</a></h5>
						</div>
					</form>
				</div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>