<template name="loginForm">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content normal-modal">
                <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title center-block">LOG IN</h4>
                </div>
                <div class="modal-body">
				        <div>
					        <button type="click" class="margin-top-xs btn-linkedin xl loginLd"><b><i class="fa fa-linkedin" aria-hidden="true"></i></b>&nbsp;&nbsp;LinkedIn</button>
					        <button type="click" class="margin-top-xs btn-facebook xl loginFb"><b><i class="fa fa-facebook" aria-hidden="true"></i></b>&nbsp;&nbsp;facebook</button>
							<button type="click" class="margin-top-xs btn-twitter xl loginTw"><b><i class="fa fa-twitter" aria-hidden="true"></i></b>&nbsp;&nbsp;twitter</button>
							
					    </div>
				    <form>
					    <div><h6 style="margin-top:25px;" class="col-md-12 col-sm-12 col-xs-12 margin-dot"></h6></div>
					    <div>
					        <h6 style="position:absolute;background-color:#ffffff;top:165px;left:45%;width:10%;padding-top:0px;"><b>&nbsp;&nbsp;OR</b></h6>
					    </div>
						<div>
				        <div class="form-group">
                            <label for="ejemplo_email_1">Email</label>
							<input type="email" class="form-control center-block" name="email" id="email"
                                placeholder="email">
                        </div>
                        <div class="form-group">
                            <label for="ejemplo_password_1">Password</label>
                            <input type="password" class="form-control" name="logPassword" id="logPassword" 
                                placeholder="password">
                        </div>
                        <div>
					        <button class="button xl center-block" href="#modal1"><b>Log in</b></button>
					    </div>
						<div class="margin-top-xs">
						    <h5 class="xl center-block">If you don't have an account&nbsp;&nbsp;<a href="#" id="gotoSignUp">Sign up</a></h5>
						</div>
						</div>
					</form>
				</div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>