<template name="signUpForm">
     <div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content big-modal">
                <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create An Account</h4>
                </div>
                <div class="modal-body padding-top">
				    <form id="signUp">
					<div>
					    <div class="margin-top-xs padding-off col-md-2 col-sm-2 col-xs-2">
						    <h5><b>I am an:*</b></h5>
						</div>
						<div class="padding-left col-md-5 col-sm-5 col-xs-5">
						    <div class="radio">
                                <label>
                                    <input type="radio" name="role" id="role"  value="Accredited Investor" >
                                     Accredited Investor
                                </label>
                            </div>
						    <div class="radio">
                                <label>
                                    <input type="radio" name="role" id="role"  value="Investment Advisor" >
                                    Investment Advisor
                                </label>
                            </div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5">
						    <div class="radio">
                                <label>
                                    <input type="radio" name="role" id="role"  value="Share Holder" >
                                    Share Holder
                                </label>
                            </div>
						    <div class="radio">
                            <label>
                                <input type="radio" name="role" id="role"  value="International Investor" >
                                 International Investor
                            </label>
                            </div>
						</div>
					</div>
						<div><h6 class="col-md-12 col-sm-12 col-xs-12 margin-dot margin-top-xs"></h6></div>
						    <div class="margin-top-md">
						        <button type="button" class="btn-linkedin col-md-4 col-sm-4 col-xs-4 signLNKD"><b><i class="fa fa-linkedin" aria-hidden="true"></i></b>&nbsp;&nbsp;LinkedIn</button>
					            <button type="button" class="btn-facebook col-md-4 col-sm-4 col-xs-4 signFB"><b><i class="fa fa-facebook" aria-hidden="true"></i></b>&nbsp;&nbsp;facebook</button>
							    <button type="button" class="btn-twitter col-md-4 col-sm-4 col-xs-4 signTW"><b><i class="fa fa-twitter" aria-hidden="true"></i></b>&nbsp;&nbsp;twitter</button>	
					        </div>
							<br>
						<div><h6 class="col-md-12 col-sm-12 col-xs-12 margin-dot margin-top-xs"></h6></div>
					<div id="signWithEmail">
						<div>
					        <h6 style="position:absolute;background-color:#ffffff;top:138px;left:45%;width:10%;padding-left:auto;padding-right:auto;"><b id="correct">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR</b></h6>
							<h6 style="position:absolute;background-color:#ffffff;top:138px;left:35%;width:35%"><b id="disscard">&nbsp;&nbsp;&nbsp;PASSWORD DON'T MATCH</b></h6>
					    </div>
						<div class="inline">
				            <div class="first-name form-group  padding-right col-md-6 col-sm-6 col-xs-6">
                                <label for="first_name">First Name</label>
							    <input type="text" class="form-control" name="firstName" id="firstName"
                                placeholder="First Name">
                            </div>
                            <div class="last-name form-group has-feedback padding-left col-md-6 col-sm-6 col-xs-6">
								<label for="last_name">Last Name</label>
                                <input type="text" class="form-control" name="lastName" id="lastName" 
                                placeholder="Last Name">
                            </div>
						</div>	
						<div class="username-field form-group">
                            <label for="username">Username</label>
							<input type="text" class="form-control" name="username" id="username"
                                placeholder="username">
                        </div>
						<div class="email-field form-group">
                            <label for="email">Email</label>
							<input type="email" class="form-control center-block" name="email" id="useremail"
                                placeholder="Introduce Email">
								
                        </div>
						<div class="inline">
                            <div class="password-field form-group padding-right col-md-6 col-sm-6 col-xs-6">
                                <label class="inline" for="password">Password <h6 class="inline"></h6></label>
                                <input type="password" class="form-control" id="password" 
                                placeholder="Password">
                            </div>
						    <div class="password-field form-group padding-left col-md-6 col-sm-6 col-xs-6">
                                <label class="inline" for="confirm_password">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" 
                                    placeholder="Repeat Password">
                            </div>
						</div>
					</div>
						<div class="padding-off col-md-12 col-sm-12 col-xs-12">
						    <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="checkbox" id="checkbox" value="confirmed" >
                                    <h6>I accept the <a href="{{pathFor 'termsOfService'}}">Terms of Service</a> and <a href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a> of Treveri Capital LLC.</h6>
                                </label>
                            </div>
						</div>
                        <div class="margin-top-xs">
					        <button type="submit" form="signUp" class="button xl center-block" href="#modal1"><b>Sign up</b></button>
					    </div>
						<h6 id="alert" class="col-md-12 col-sm-12 col-xs-12"><b>* Required field</b></h6>
						<center></center>
						
					</form>
				</div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>